---
import BaseLayout from "../layouts/BaseLayout.astro";
import QuickLinks from "../components/QuickLinks.astro";
import FeaturedSection from "../components/FeaturedSection.astro";

const title = "Al Harkan's Blog";
const description = "On Media, Technology, and Everything in Between";
const permalink = Astro?.site?.href;

const postsPerPage = 10;
const allPostsGlob = import.meta.glob("../data/blog-posts/blog/*.{md,mdx}", {
  eager: true,
});

interface Post {
  frontmatter: {
    title: string;
    description: string;
    publishDate: string;
  };
  file: string;
}

const allPosts = Object.values(allPostsGlob) as Post[];

const sortedPosts = allPosts.sort(
  (a: Post, b: Post) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf(),
);

// Calculate pagination
const totalPosts = sortedPosts.length;
const totalPages = Math.ceil(totalPosts / postsPerPage);
const paginatedPosts = sortedPosts.slice(0, postsPerPage);

// Featured projects data
const featuredProjects = [
  {
    title: "Jakarta Labor Market Analysis (19K+ Job Postings)",
    subtitle: "",
    url: "/page/labor-market-analysis",
    coverImage: "https://ik.imagekit.io/raihankalla/research_section_cover/job-market-analysis.png",
  },
  {
    title: "Econometric Growth vs Envinromental Impact",
    subtitle: "",
    url: "/page/pdrb-iklh",
    coverImage: "https://ik.imagekit.io/raihankalla/research_section_cover/pdrb-iklh.png",
  },
  {
    title: "TurnBackHoax Analysis of 2025: Narrative 3D Network",
    subtitle: "",
    url: "https://alhrkn.vercel.app/hoax-network",
    coverImage: "https://ik.imagekit.io/raihankalla/research_section_cover/hoax-2025-network.png",
  },
  {
    title: "TurnBackHoax Analysis of2024 (Topic Modeling)",
    subtitle: "",
    url: "/page/turnbackhoax-analysis",
    coverImage: "https://ik.imagekit.io/raihankalla/research_section_cover/hoax-2024-topic-modeling.png",
  },
  {
    title: "TurnBackHoax Analysis of 2024: Text Network",
    subtitle: "",
    url: "/page/turnbackhoax-text-network",
    coverImage: "https://ik.imagekit.io/raihankalla/research_section_cover/hoax-2024-network.png",
  },
  {
    title: "TurnBackHoax Analysis of 2024: Sentiment Analysis",
    subtitle: "",
    url: "/page/turnbackhoax-sentiment-analysis",
    coverImage: "https://ik.imagekit.io/raihankalla/research_section_cover/hoax-2024-sentiment.png",
  },
];
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink ?? "/"}
  current=""
>
  <div class="container">
    <h1>{title}</h1>
    <p><b>{description}</b></p>
    <QuickLinks />
    <hr />
    <FeaturedSection
      sectionTitle="I Do Research for Fun"
      sectionSubtitle="I like to scrape, analyze or visualize data in my spare time. Here's the list of special pages showcasing the results that don't fit the blog formatting."
      items={featuredProjects}
    />
    <h1>Featured Posts</h1>
    <hr />
    {
      paginatedPosts.map((post: Post, index: number) => {
        const href = `/${post.file.split("/blog/").pop()?.split(".").shift() ?? ''}`;
        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.frontmatter.title}</a>
              </h2>
              <p>{post.frontmatter.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">
                  — {post.frontmatter.publishDate}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }

    <div class="pagination">
      {
        totalPages > 1 && (
          <a href="/2" class="pagination-next">
            Next →
          </a>
        )
      }
    </div>
  </div>

  <style>
    h1 {
      margin-bottom: 0.5rem;
    }

    h2 {
      font-family: var(--font-family-serif);
      font-weight: 600;
    }

    .post-item-footer {
      font-family: var(--font-family-sans);
      font-weight: 500;
    }

    .post-item-date {
      color: var(--text-secondary);
      text-align: left;
      font-size: 0.9em;
      margin-right: 16px;
    }

    hr {
      margin: 20px auto 60px auto;
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      /* padding: 1rem 0; */
    }

    .pagination-prev,
    .pagination-next {
      /* padding: 0.5rem 1rem; */
      /* border: 1px solid var(--text-secondary); */
      /* border-radius: 4px; */
      /* text-decoration: none; */
      color: var(--text-secondary);
      transition: all 0.2s ease;
      font-family: var(--font-family-sans);
      font-size: 1.2em;
      font-weight: 700;
      text-decoration: none;
      box-shadow: inset 0 -0.12em 0 var(--primary-color);
      -webkit-transition:
        box-shadow 0.2s ease-in-out,
        color 0.2s ease-in-out;
      transition:
        box-shadow 0.2s ease-in-out,
        color 0.2s ease-in-out;
    }

    .pagination-prev:hover,
    .pagination-next:hover {
      /* border-color: var(--text-primary); */
      /* background-color: var(--text-primary); */
      /* color: var(--background); */
      color: var(--primary-color);
      box-shadow: inset 0 -1.5em 0 var(--primary-color);
      color: #fff;
    }

    .pagination-next {
      margin-left: auto;
    }
  </style>
</BaseLayout>
